@font-face {
  font-family: "SFProDisplayBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFProDisplayBold/SFProDisplay-Bold.eot?#iefix") 
  format("embedded-opentype"), url("../fonts/SFProDisplayBold/SFProDisplay-Bold.woff") 
  format("woff"), url("../fonts/SFProDisplayBold/SFProDisplay-Bold.ttf") format("truetype"); }


  @font-face {
    font-family: "SFProDisplayMedium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/SFProDisplayMedium/SFProDisplay-Medium.eot?#iefix") 
    format("embedded-opentype"), 
    url("../fonts/SFProDisplayMedium/SFProDisplay-Medium.woff") 
    format("woff"), 
    url("../fonts/SFProDisplayMedium/SFProDisplay-Medium.ttf") 
    format("truetype"); }
  

    @font-face {
      font-family: "SFProdisplaySemibold";
      font-style: normal;
      font-weight: normal;
      src: url("../fonts/SFProdisplaySemibold/SFProDisplay-Semibold.eot?#iefix") 
      format("embedded-opentype"), 
      url("../fonts/SFProdisplaySemibold/SFProDisplay-Semibold.woff") 
      format("woff"), 
      url("../fonts/SFProdisplaySemibold/SFProDisplay-Semibold.ttf") 
      format("truetype"); }


      @font-face {
        font-family: "SFProDisplayRegular";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.eot?#iefix") 
        format("embedded-opentype"), 
        url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.woff") 
        format("woff"), 
        url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.ttf") 
        format("truetype"); }