@import './variables.scss';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "SFProDisplayRegular", sans-serif;
  background: $background;
}




@media(max-width: 576px){
  body {
  
    background: $colorWhite;
  }
}