$fontRegular : 'SFProDisplayRegular';
$fontSemiBold : 'SFProdisplaySemibold';
$fontMedium : 'SFProDisplayMedium';
$fontBold : 'SFProDisplayBold';



$colorWhite: #fff;
$colorWhitePurple : #C0B9DA;

$colorGreyPreload: #E8E8F2;
$colorBlack: #000;
$colorDarkGrey: #B8B8B8;

$colorGrey: #7B798F;
$colorLightGrey: #A5A5BC;

$colorGreyLight: #656178;
$colorDarkBlue: #413E93;
$colorLightBlue: #9B99C6;
$colorRed: #D21010;


$background: #F2F1F8;
$backgroundImput:  rgba(160, 158, 201, 0.3);
$backgroundButton: linear-gradient(270deg, #423A95 0%, #594CAC 100%);
$backgroundButtonGrey : #E6E6F1;



$borderButton: 8px;
$borderCircle :  "50%";
$borderInput: 70px;
$borderRadiusPost: 13px;
$borderImage: 5px;



$boxShadowPost: 0.2px 0.2px 1.4px rgba(124, 118, 162, 0.3);






