@import '../../styles/variables.scss';
.comments {
  margin-top: 12px;

 
}
.commentsList {
  padding-top: 12px;
  border-top:  0.4px solid #B4B4D2;
}

.commentsList > * +* {

 margin-top: 7px;
}

.comment {
  display: flex;
  align-items: center;
  font-size: 15px;
  div {
    font-weight: 600;
   
  }
  span {
    font-weight: 400; 
    color: $colorGreyLight;
  }
}
.comment > * + * {
  margin-left: 9px;
}

.showMore {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 15px;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 7px;
  color: $colorDarkBlue;
  svg {
    transform: rotate(90deg);
    path {
      stroke : $colorDarkBlue;
    }

  }
  &:hover {
    color: $colorLightBlue;
    svg {
      path {
        stroke : $colorLightBlue;
      }
    }
  }
}

.showAllComments {
  cursor: pointer;
  margin-top: 16px;
  display: inline-grid;
  margin-left: 5px;
  grid-auto-flow: column;
  grid-gap: 14px;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: $colorDarkBlue;
  outline: none;
  &:hover {
    color: lighten($colorDarkBlue, 10%);
    svg {
      path {
        stroke: lighten($colorDarkBlue, 10%);
      }
    }
  }
  &:focus {
    color: lighten($colorDarkBlue, 15%);
    svg {
      path {
        stroke: lighten($colorDarkBlue, 15%);
      }
    }
  }


}

.addComment {
  margin-top: 20px;
  position: relative;
  input {
    outline: none;
    padding: 14px 25px;
    border:none;
    background: $backgroundImput;
    opacity: 0.6;
    border-radius: 70px;
    width: 100%;
    height: 44px;
    &:hover {
      background: lighten($backgroundImput, 5%);
    }
    &:focus {
      background: lighten($backgroundImput, 10%);
    }
  }
  a {
    top: 0;
    top: 50%;
    font-size: 15px;
  
    transform: translateY(-50%);
    right: 25px;
    position: absolute;
    color: $colorDarkBlue;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}


@media(max-width: 1024px){
  .comment {
    font-size: 14px;

    span {
      font-weight: 400;
      color: #656178;
      /* max-width: 120px; */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      /* background: #fc0; */
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
 
}