@import '../../styles/variables.scss';

.post {
  margin-top: 20px;
  grid-column: 1 / span 2;
  box-shadow: $boxShadowPost;
  border-radius: $borderRadiusPost;
  background: $colorWhite;
  padding: 14px 22px 20px 22px;
 
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorHeader {
  display: flex;
  align-items: center;
  
}

.authorInfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.authorName {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
}

.datePublishPost {
  font-size: 13px;
  margin-top: 13px;
  line-height: 0px;
  font-weight: 400;
}



.authorPhotoContainer {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: $colorGreyPreload;
  overflow: hidden;

}


.authorInfo {
  display: flex;
}

.shareIcon {
  width: 22px;
  height: 21px;
}

.postBody {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.postEntity {
  max-height: 469px;
  width: 100%;
  overflow: hidden;
  background: $colorBlue;
  border-radius: 5px;
}

.postEntityBlack {
  background: $colorDarknessGrey
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 134px 0;
  height: 100%;
  img {
    width: 58px;
    height: 58px;
  }
  button {
    margin-top: 30px;
  }
}

.statusTitle {
  margin-top: 28px;
  font-weight: 600px;
  font-size: 22px;
  line-height: 25px;
  color: $colorWhite
}

.statusDescription {
  margin-top: 15px;
  font-weight: 400px;
  font-size: 15px;
  line-height: 18px;
  color: $colorDarkGrey;
  max-width: 182px;
  text-align: center;
}


.postDescription {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 0px;
    font-weight: 600;
  }

  p {
    font-size: 17px;
    line-height: 20px;
    margin-top: 5px;
    color: $colorGreyLight
  }
}

.likeConteiner {
  span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: $colorDarkBlue
  }
  div > * + * {
    margin-left: 10px;
  }
}

.likeConteiner > * + * {
  margin-left: 21px;
}

@media(max-width: 576px) {

  .post {
    padding: 14px 0;
    box-shadow: none;
    margin-top: 12px;
  }
  .postEntity {
    height: fit-content;
    max-height: 329px;
    overflow: hidden;
    margin-left: calc(-8px * 3 + 2px);
    width: 100vw;
    border-radius: 0;
    margin-left: -8px;
  }


  .postDescription {

    p {
      font-size: 15px;
    }
   
    div {
      font-size: 16px;
    }
  }

  .status {
    padding: 54px 0;
  }

  .statusTitle {
    font-size: 17px;
    line-height: 20px;
  }

  .statusDescription {
    font-size: 12px;
    line-height: 14px;
  }

  .commentsList {
    padding-bottom: 12px;
    border-bottom: 0.4px solid #B4B4D2;
  }
}